.balance-card {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 20px;
  border-left: 4px solid #00b300;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 0;
  width: 200px;
  height: 150px;
  text-align: left;
}

.amount-content {
  width: 100%;
}

.title-row {
  display: flex;
  justify-content: space-between;
  padding-top:0 ;
  margin: 0;
  border: none;
}

.income-icon {
  color: #00b300;
  font-size: 24px;
}

.amount-green {
  font-size: 20px;
  color: #00b300;
  margin: 0;
}
.amount-red {
  font-size: 20px;
  color: #ff0000;
  margin: 10px 0;
}
