.chartsSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;
  width: 100%;
}

.chart-card {
  flex: 1;
  position: relative;
  min-width: 400px;
  /* min-height: 500px; */
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
}
.chart-card h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  color: #333;
  padding: 10px;
}
