.tabsBar {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.tabsBar a { /* Changed from button to 'a' for NavLink */
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(32, 130, 228);
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.tabsBar a:hover {
  background-color: white;
  color: rgb(32, 130, 228);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.tabsBar a.active {
  background-color: #1a5faa; /* A darker blue to show it's active */
  font-weight: bold;
}