.dashboardContainer {
  width: 100%;
}

.balanceCards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

/* Responsive Design */
@media (max-width: 768px) {
  .balanceCards {
    gap: 15px;
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  .balanceCards {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

@media (max-width: 480px) {
  .balanceCards {
    width: 90%;
    gap: 10px;
    margin-top: 10px;
  }
}
