.tabsBar {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.tabsBar button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(32, 130, 228);
  color: white;
  border: none;
  border-radius: 5px;
}

.tabsBar button:hover {
  background-color: white;
  color: rgb(32, 130, 228);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: 0.5s ease-in-out;
}
